{% extends "main.html" %}
{% block maincontent %}
	<h1>Reset password</h1>
	<!-- <form action="/password" method="post">
		<label>Select password</label>
		<input type="password" name="password" />
		<input type="password" name="confirm_password" />
		<input type="hidden" name="t" value="{{ token }}" />
		<input type="submit" value="Update password" />
	</form> -->
	<form class="form-horizontal" action="/password" method="POST" >
		<label>Select password</label>
		<div class="form-group">
			<label for="fullname" class="col-sm-2 control-label">Fullname</label>
			<div class="col-sm-8">
				<input type="text" value="{{ fullname }}" class="form-control" id="inputEmail3" placeholder="Fullname" name="fullname">
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-8">
				<input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password">
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-8">
				<input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="confirm_password">
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-2 control-label"></label>
			<div class="col-sm-8">
				<input type="hidden" class="form-control" name="t" value="{{ token }}">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-8">
				<button type="submit" class="btn btn-primary" >Update Password</button>
			</div>
		</div>
	</form>
{% endblock %}