{% extends "main.html" %}

{% block maincontent %}

<div class="jumbotron" >
	<h3 style = "text-align:center">Logged in as {{ user.name }}</h3>
	<div class="col-sm-6 col-md-4">
		
		{% for user in user_list %}

		<ul>
			<li><a href="/mail">{{ user.name }}</a></li>
			
		</ul>
		{% endfor %}

	</div>

	<div class="col-sm-6 col-md-4">
		<h3 style = "text-align:center">Messages</h3>

		{% for user in user_list %}

		<ul style="list-style-type:none;text-align:center">
			<li>{{ user.message }}</li>
			
		</ul>
		{% endfor %}

	</div>
</div>

{% endblock %}