<div>
	<h1>Login</h1>
	<h2>{{alerts.message}}</h2>
<!-- 	{% if failed %}
		<strong>Login failed!</strong> Check your credentials and try again.
	{% endif %} 

	<script type=text/javascript>
    doSomethingWith({{ user.name|tojson|safe }});
	</script>-->

	<form class="form-horizontal" method="POST" ng-submit="loginForm()">
		<div class="form-group">
			<label for="fullname" class="col-sm-2 control-label">Fullname</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="inputEmail3" placeholder="Fullname" name="fullname" ng-model="fields.name">
			</div>
		</div>
		
		<div class="form-group">
			<label for="password" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-8">
				<input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password" ng-model="fields.password">
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-8">
				<button type="submit" class="btn btn-primary">Log In</button>
			</div>
		</div>
	</form>
	<div class="form-group" >
		<div class="col-sm-offset-2 col-sm-8">
			<a href="/forgot"><button type="submit" class="btn btn-primary" >Forgot password</button></a>
		</div>
	</div>
	
	
</div>