<!DOCTYPE html>
<html lang="en" ng-app="myApp" >
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}TestApp{% endblock %}</title>
        <style>
        input {
        display: block;
        }
        </style>
    </head>
    <body ng-controller="MainController">
      
        <div class="container">
            <div class="masthead">
                <h3 class="text-muted">Test_App</h3>
                <nav>
                    <ul class="nav nav-tabs nav-justified">
                        <li role="presentation"  ><a href="#/home" >Home</a></li>
                        <li role="presentation"  ><a href="#/signup">SignUp </a></li>
                        {% if not user %}
                            <li role="presentation" ><a href="#/login">LogIn</a> </li>
                        {% else %}
                            <li role="presentation" ><a ng-click="logout()">Logout</a></li>
                            Logged in as {{ user.name }} {{user.email_address}} <br>
                        {% endif %}
                        
                    </ul>
                </nav>
            </div>
        </div>
        <div class="content" ng-view>
              
        </div>
    </body>
</html>